@import "./app/styles/colors";
@import "./app/styles/breakpoints";

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-light-gray;
    font-family: Roboto, "Helvetica Neue", sans-serif;  
}

main {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 90%;
    
        @include breakpoint-s {
            width: 75%;
        }
    
        @include breakpoint-l {
            width: 50%;
        }
}

h1 {
    font-weight: normal;
    font-size: 1.5rem;
    color: $color-primary;
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem;
    color: $color-black;
}