@import "../../../../styles/colors";

:host {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $color-white;
    
}

ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.transaction-day-list {
    gap: 1.5rem;
}

.transaction-list {
    gap: 0.5rem;
}