@import "../../../../styles/colors";

:host {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $color-white;
}

ol {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

// TODO: Extract
.temp-3-col-link-grid {
    text-decoration: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    transition: background-color 0.1s ease-in-out;

    &:hover{
        background-color: $color-lighter-gray
    }
}